{% if section.settings.overlay == "black" %}
{% assign bg_hex = "#000000" %}
{% elsif section.settings.overlay == "background1" %}
{% assign bg_hex = "{{ background1_color }}" %}
{% elsif section.settings.overlay == "background2" %}
{% assign bg_hex = "{{ background2_color }}" %}
{% elsif section.settings.overlay == "background3" %}
{% assign bg_hex = "{{ background3_color }}" %}
{% endif %}

{% if section.settings.opacity == "0" %}
{% assign bg_opacity = "00" %}
{% elsif section.settings.opacity == "10" %}
{% assign bg_opacity = "1A" %}
{% elsif section.settings.opacity == "20" %}
{% assign bg_opacity = "33" %}
{% elsif section.settings.opacity == "30" %}
{% assign bg_opacity = "4D" %}
{% elsif section.settings.opacity == "40" %}
{% assign bg_opacity = "66" %}
{% elsif section.settings.opacity == "50" %}
{% assign bg_opacity = "80" %}
{% elsif section.settings.opacity == "60" %}
{% assign bg_opacity = "99" %}
{% elsif section.settings.opacity == "70" %}
{% assign bg_opacity = "B3" %}
{% elsif section.settings.opacity == "80" %}
{% assign bg_opacity = "CC" %}
{% elsif section.settings.opacity == "90" %}
{% assign bg_opacity = "E6" %}
{% elsif section.settings.opacity == "100" %}
{% assign bg_opacity = "FF" %}
{% endif %}

{% if section.settings.icon_color == "default" %}
{% assign arrow_icon_hex = "{{ color_text | remove: '#' }}" %}
{% elsif section.settings.icon_color == "inverse" %}
{% assign arrow_icon_hex = "{{ inverse_color_text | remove: '#' }}" %}
{% elsif section.settings.icon_color == "accent1" %}
{% assign arrow_icon_hex = "{{ accent1_color | remove: '#' }}" %}
{% elsif section.settings.icon_color == "accent2" %}
{% assign arrow_icon_hex = "{{ accent2_color | remove: '#' }}" %}
{% endif %}

<div class="text-with-image-carousel section-{{ section.id }}{% if section.settings.background_image != blank %} bg-image{%else%} bg-color{% endif %} container-fluid gx-0">
<div class="container{% if section.settings.fullwidth %}-fluid p-0{%endif%} my-{{ section.settings.margin }} gx-0">
    <div class="row gx-0">
       <div class="col-12 col-lg-6 d-block d-lg-flex flex-lg-column text-center justify-content-center order-first image-col{%if section.settings.layout == "2" %} order-lg-last{%endif%}" style="min-height: 250px;">
         <div id="imagewithtextCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
          <div class="carousel-inner mb-5">
            {% for block in section['block_order'] %}
            <div class="carousel-item{% if forloop.first %} active{% endif %}">
              {% block %}
            </div>
            {% endfor %}
          </div>
           <div class="carousel-indicators position-absolute bottom-0">
           {% for block in section['block_order'] %}
            <button type="button" data-bs-target="#imagewithtextCarousel" data-bs-slide-to="{{ forloop.index | minus: 1 }}"{%if forloop.index == 1 %} class="active" aria-current="true"{% endif %} aria-label="carousel-image-{{ forloop.index }}"></button>
            {% endfor %}
          
          </div>
          <button class="carousel-control-prev color-{{ section.settings.icon_color }}" type="button" data-bs-target="#imagewithtextCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next color-{{ section.settings.icon_color }}" type="button" data-bs-target="#imagewithtextCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
         
       </div>
       <div class="col-12 col-lg-6 d-block d-lg-flex flex-lg-column justify-content-lg-{{ section.settings.text_position }} text-col text-{{ section.settings.content_alignment }} order-last{%if section.settings.layout == "2" %} order-lg-first{%endif%}">
         {% if section.settings.heading != blank %}
         <h2 class="mb-3 {{ section.settings.heading_size }} text-{{ section.settings.content_color }}">{{ section.settings.heading }}</h2>
         {% endif %}
         {% if section.settings.content != blank %}
         <div class="mb-4 text-{{ section.settings.content_color }}">{{ section.settings.content }}</div>
         {% endif %}
         
     </div>
   </div>
</div>
</div>
{% styles %}
.section-{{ section.id }} {
    padding: {{ section.settings.padding }} 0;
}

.section-{{ section.id }}.bg-color {
        background: {{ bg_hex }}{{ bg_opacity }};
    }

.section-{{ section.id }}.bg-image {
        background: linear-gradient({{ bg_hex }}{{ bg_opacity }}, {{ bg_hex }}{{ bg_opacity }}), url({{ section.settings.background_image | image_url:'1600x1600' }});
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom;
}
 
.section-{{ section.id }} .text-col {
    padding: 0 {{ section.settings.content_padding }}px;
}

.text-with-image-carousel ul li {
    font-size: 1rem;
    line-height: 1.6;
}

.section-{{ section.id }} .image-scroll-block_image {
    height: {{ section.settings.carousel_height }}px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.section-{{ section.id }} .carousel-control-next, .section-{{ section.id }} .carousel-control-prev {
    margin-top: -3rem;
}

.section-{{ section.id }} .carousel-control-next-icon  {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23{{ arrow_icon_hex }}'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e")!important;
}

.section-{{ section.id }} .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23{{ arrow_icon_hex }}'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e")!important;
}

.section-{{ section.id }} .carousel-indicators [data-bs-target] {
    background-color: #{{ arrow_icon_hex }};
    width: 6px;
    height: 6px;
}

@media screen and (max-width: 576px) {
    .section-{{ section.id }} {
        padding: 2.5rem 0;
    }
    
    .section-{{ section.id }} .text-col {
        padding: 0 1.5rem;
    }
}
 
{% endstyles %}
   
   {% schema %}
   {
       "name": "Text with Image Carousel",
       "max-blocks": 99,
       "description": "Image with Text section containing 1 column for image carousel and 1 column for content with text and button",
       "settings": [
       {
           "type": "checkbox",
           "id": "fullwidth",
           "label": "Full Width"
       },
       {
           "type": "select",
           "id": "margin",
           "label": "Section Margin",
           "default": "0",
           "options": [
           {
               "label": "Large",
               "value": "5"
           },
           {
               "label": "Medium",
               "value": "3"
           },
           {
               "label": "Small",
               "value": "1"
           },
           {
               "label": "None",
               "value": "0"
           }]
       },
       {
        "type": "select",
        "id": "padding",
        "label": "Section Padding",
        "default": "80px",
        "options": [
        {
        "label": "None",
        "value": "0"
        },
        {
        "label": "Small",
        "value": "40px"
        },
        {
        "label": "Medium",
        "value": "80px"
        },
        {
        "label": "Large",
        "value": "120px"
        }]
        },
       {
           "type": "select",
           "id": "layout",
           "label": "Layout",
           "default": "2",
           "options": [
           {
               "label": "Image Left Content Right",
               "value": "1"
           },
           {
               "label": "Content Left Image Right",
               "value": "2"
           }]
       },
       {
            "type": "image_picker",
            "id": "background_image",
            "label": "Background Image"
        },
        {
            "type": "select",
            "id": "overlay",
            "label": "Background Color",
            "default": "background2",
            "options": [
                {
                    "label": "Black",
                    "value": "black"
                },
                {
                    "label": "Background 1",
                    "value": "background1"
                },
                {
                    "label": "Background 2",
                    "value": "background2"
                },
                {
                    "label": "Background 3",
                    "value": "background3"
                }
            ]
        },
        {
                "type": "range",
                "id": "opacity",
                "label": "BG Color Opacity",
                "default": 0,
                "min": 0,
                "max": 100,
                "step": 10
        },
       {
            "type": "range",
            "id": "content_padding",
            "label": "Content Padding",
            "default": 80,
            "min": 0,
            "max": 200,
            "step": 20
        },
        {
            "type": "select",
            "id": "text_position",
            "label": "Text Position",
            "default": "center",
            "options": [
                {
                    "label": "Top",
                    "value": "start"
                },
                {
                    "label": "Center",
                    "value": "center"
                },
                {
                    "label": "Bottom",
                    "value": "end"
                }
            ]
        },
        {
            "type": "select",
            "id": "content_alignment",
            "label": "Text Alignment",
            "default": "start",
            "options": [
                {
                    "label": "Left",
                    "value": "start"
                },
                {
                    "label": "Center",
                    "value": "center"
                },
                {
                    "label": "Right",
                    "value": "end"
                }
            ]
        },
        {
            "type": "select",
            "id": "content_color",
            "label": "Text Color",
            "default": "default",
            "options": [
                {
                    "label": "Default",
                    "value": "default"
                },
                {
                    "label": "Inverse",
                    "value": "inverse"
                }
            ]
        },
       {
           "type": "text",
           "id": "heading",
           "default": "Lorem ipsum",
           "label": "Heading"
       },
       {
            "type": "select",
            "id": "heading_size",
            "label": "Heading Size",
            "default": "h2",
            "options": [
                {
                    "label": "H1",
                    "value": "h1"
                },
                {
                    "label": "H2",
                    "value": "h2"
                },
                {
                    "label": "H3",
                    "value": "h3"
                }
            ]
        },
       {
           "type": "richtext",
           "id": "content",
           "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
           "label": "Text"
       },
       {
           "type": "header",
           "content": "Carousel Settings"
       },
        {
            "type": "range",
            "id": "carousel_height",
            "label": "Carousel Height",
            "default": 400,
            "min": 250,
            "max": 500,
            "step": 50
        },
        {
            "type": "select",
            "id": "icon_color",
            "label": "Arrow and Indicator Color",
            "default": "accent1",
            "options": [
                {
                    "label": "Default",
                    "value": "default"
                },
                {
                    "label": "Inverse",
                    "value": "inverse"
                },
                {
                    "label": "Accent 1",
                    "value": "accent1"
                },
                {
                    "label": "Accent 2",
                    "value": "accent2"
                }
            ]
        }
   ],
    "blocks": [
            {
                "type": "image-scroll-block"
            }
    ]
   }
   {% endschema %}