<div class="image-scroll-block_image" style="background-image:url({{ block.image | image_url }});"></div>

{% schema %}
{
  "settings": [
      {
          "type": "image_picker",
          "id": "image",
          "default": "placeholder.webp",
          "label": "Image Upload"
      },
      {
          "type": "text",
          "id": "alt",
          "label": "Image Alt Text"
      }
  ]
}
{% endschema %}